@media (max-width: 1200px){
  .sidebar{
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    background-color: white;
    width: 72px;
    padding-top: 5px;
    z-index: 200;
  }
  
  .sidebar-div{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebar-div:hover{
    background-color: #eeeeee;
  }
  
  .sidebar-icon{
    height: 24px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 240px;
    z-index: 200;
    padding-top: 13px;
  }

  .sidebar-div {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 24px;
  }

  .sidebar-div:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-div img {
    height: 24px;
    margin-right: 24px;
  }

  .sidebar-div div {
    font-family: Roboto, Arial;
    font-size: 14px;
  }
}
